<div class="login-type-container">
  <img src="assets/img/logo.png">
  <h2>Choose Login Type</h2>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="admin" routerLink="/login/admin">Admin</mat-radio-button>
    <mat-radio-button value="sfa" routerLink="/login/sfa">Sales Force Automation</mat-radio-button>
    <mat-radio-button value="dms" routerLink="/login/dms">Dealer Management System</mat-radio-button>
    <mat-radio-button value="irp" routerLink="/login/irp">Influencer Rewards Program</mat-radio-button>
    <mat-radio-button value="dispatch"  routerLink="/login/dispatch">Inventory & Dispatch</mat-radio-button>
  </mat-radio-group>
  <div class="footer-content">
    <p><i class="material-icons">android</i><a href="https://demo.basiqcrm.com/apk/basiq.apk">Download Android Apk</a></p>
  </div>
</div>