<div class="main-container" >
  
  <div class="tools-container">
    <h2>Redeem Request</h2>
    
    <div class="left-auto left-auto df ac flex-gap-10">
      <button mat-icon-button  matTooltip="Refresh" (click)="refresh() ">
        <i class="material-icons">refresh</i>
      </button>
      
      <div class="pagination" *ngIf="redeemRequestList_data.length > 0">
        
        <div class="pagination-content">
          Pages
          <span>{{pagenumber}}</span>
          of
          <span>{{total_page}}</span>
        </div>
        <div class="page-nav">
          <button mat-icon-button  matTooltip="Older" (click)="pervious()"  [disabled]="start == 0">
            <i class="material-icons">navigate_before</i>
          </button>
          <button mat-icon-button  matTooltip="Newer" (click)="nextPage()" [disabled]="pagenumber == total_page ">
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>
      
      <div class="mat-tabbar">
        <button mat-button [ngClass]="active_tab == 'Pending' ? 'active' : ''" (click)="active_tab = 'Pending';redeemRequestList()"><i class="material-icons">pending_actions</i>Pending ({{redeem_count.Pending}})</button>
        <button mat-button [ngClass]="active_tab == 'Approved' ? 'active' : ''" (click)="active_tab = 'Approved';redeemRequestList()"><i class="material-icons">task_alt</i>Approved ({{redeem_count.Approved}})</button>
        <button mat-button [ngClass]="active_tab == 'Reject' ? 'active' : ''" (click)="active_tab = 'Reject';redeemRequestList()"><i class="material-icons">unpublished</i>Reject ({{redeem_count.Reject}})</button>
      </div>
    </div>
  </div>
  
  <div class="container pb100" >
    <div class="cs-table horizontal-scroll">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w60">Sr.No</th>
              <th class="w90">Date</th>
              <th class="w150">Name</th>
              <th class="w110">Mobile No.</th>
              <th class="w110">Req. ID</th>
              <th class="w110">A/C Status</th>
              <th class="w200">Gift</th>
              <th class="w100 text-right">Points Request</th>
              <th class="w100 text-right">Equivalent Cash</th>
              <th class="w110">Redeem Status</th>
              <th class="w110">Gift Points Status</th>
              <th class="w110  text-center" *ngIf="assign_login_data2.edit_redeem_request=='1' && active_tab == 'Pending'">Action</th>
            </tr>
          </table>
        </div>
        
        <div class="table-head border-top">
          <table>
            <tr>
              <th class="w60">&nbsp;</th>
              <th class="w90">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created" [(ngModel)]="filter.date_created"  [max]="today_date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w150">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="user_name" [(ngModel)]="filter.user_name" (keyup.enter)="redeemRequestList('')">
                  </mat-form-field>
                </div>
              </th>
              <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="mobile_no" [(ngModel)]="filter.mobile_no" (keyup.enter)="redeemRequestList('')">
                  </mat-form-field>
                </div>
              </th>
              <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="req_id" [(ngModel)]="filter.req_id" (keyup.enter)="redeemRequestList('')">
                  </mat-form-field>
                </div>
              </th>
              <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-select [(ngModel)]="filter.status" name="status" (selectionChange)="redeemRequestList('')">
                      <mat-option  value="">All</mat-option>
                      <mat-option  value="Verified">Verified</mat-option>
                      <mat-option  value="Pending">Pending</mat-option>
                      <mat-option  value="Reject">Reject</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </th>
              <th class="w200">&nbsp;
              </th>
              <th class="w100 text-right">&nbsp;
              </th>
              <th class="w100 text-right">&nbsp;
              </th>
              <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-select [(ngModel)]="filter.redeem_status" name="redeem_status" (selectionChange)="redeemRequestList('')">
                      <mat-option  value="">All</mat-option>
                      <mat-option  value="Approved">Approved</mat-option>
                      <mat-option  value="Pending">Pending</mat-option>
                      <mat-option  value="Reject">Reject</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </th>
              <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-select [(ngModel)]="filter.redeem_status" name="redeem_status" (selectionChange)="redeemRequestList('')">
                      <mat-option  value="">All</mat-option>
                      <mat-option  value="Shipped">Shipped</mat-option>
                      <mat-option  value="Received">Received</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </th>
              <th class="w110  text-center"  *ngIf="assign_login_data2.edit_redeem_request=='1' && active_tab == 'Pending'">&nbsp;</th>
            </tr>
          </table>
        </div>
      </div>
      
      <div class="table-container">
        <div class="table-content">
          <table>
            <ng-container *ngIf="!loader">
              <tr *ngFor="let row of redeemRequestList_data; let i = index;"  [ngClass]="{'Current': service.currentUserID == row.id}" >
                <td class="w60">{{i + 1 + sr_no}}</td>
                <td class="w90">{{row.date_created | date :'dd MMM yyyy'}}</td>
                <td class="w150"><a class="link-btn" (click)="service.setData(filter)"
                  routerLink="influencer-detail/{{row.user_id}}/{{row.influencer_type}}"
                  >{{row.user_name ? (row.user_name | titlecase) : '---'}} ({{row.influencer_type}})</a></td>
                  <td class="w110">{{row.mobile_no ? row.mobile_no : '---'}}</td>
                  <td class="w110"><a class="link-btn" (click)="service.setData(filter)"
                    [routerLink]="[ 'redeem-detail/', row.id ]" [queryParams]="{'id':row.id}"
                    >{{row.req_id ? row.req_id : '---'}}</a></td>
                    <td class="w110">
                      <strong class="{{row.influencer_status}}">{{row.influencer_status ? row.influencer_status : '---'}}</strong>
                    </td>
                    <td class="w200">{{row.gift_name ? row.gift_name : '---'}}</td>
                    <td class="w100 text-right"><strong>{{row.point ? row.point : '---'}}</strong></td>
                    <td class="w100 text-right"><strong>₹ {{row.cash_point ? row.cash_point : '---'}}</strong></td>
                    <td class="w110">
                      <strong class="{{row.status}}">{{row.status}}</strong>
                    </td>
                    <td class="w110">
                      <div *ngIf="row.gift_status == 'Received'" >
                        <strong class="Approved">
                          {{row.gift_status ? row.gift_status : '---'}}
                        </strong>
                      </div>
                      <div class="th-search-acmt" *ngIf="row.status == 'Approved' && row.gift_status != 'Received'">
                        <mat-form-field class="cs-input select-input">
                          <mat-label>{{row.gift_status}}</mat-label>
                          <mat-select [name]="'gift_status'+'i'" #gift_status="ngModel" [(ngModel)]="row.gift_status" required (selectionChange)="openDialog(row.id,'gift_status', row.redeem_type, row.gift_status)">
                            <mat-option disabled="">Under Process</mat-option>
                            <mat-option value="Transferred" [disabled]="row.gift_status == 'Transferred' || row.gift_status == 'Received'" *ngIf="row.redeem_type == 'Cash'">Tranferred</mat-option>
                            <mat-option value="Shipped" [disabled]="row.gift_status == 'Shipped' || row.gift_status == 'Received'"   *ngIf="row.redeem_type == 'Gift'">Shipped</mat-option>
                            <mat-option value="Received" [disabled]="row.gift_status == 'Received'">Received</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </td>
                    <td class="w110  text-center" *ngIf="assign_login_data2.edit_redeem_request=='1' && active_tab == 'Pending'">
                      <ng-container *ngIf="row.status == 'Pending' ">
                        <a class="link-btn" (click)="openDialog(row.id,'redeem_status', '', '')" >Change Status</a>
                      </ng-container>
                      <ng-container *ngIf="row.status != 'Pending' ">
                        ---
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
                
                <ng-container *ngIf="loader">


                  <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                    <td class="w60"><div>&nbsp;</div></td>
                    <td class="w90"><div>&nbsp;</div></td>
                    <td class="w150"><div>&nbsp;</div></td>
                    <td class="w110"><div>&nbsp;</div></td>
                    <td class="w110"><div>&nbsp;</div></td>
                    <td class="w110"><div>&nbsp;</div></td>
                    <td class="w200"><div>&nbsp;</div></td>
                    <td class="w100 text-right"><div>&nbsp;</div></td>
                    <td class="w100 text-right"><div>&nbsp;</div></td>
                    <td class="w110"><div>&nbsp;</div></td>
                    <td class="w110"><div>&nbsp;</div></td>
                    <td class="w110  text-center" *ngIf="assign_login_data2.edit_redeem_request=='1' && active_tab == 'Pending'"><div>&nbsp;</div></td>
                  </tr>
                </ng-container>
              </table>
            </div>
            
            <ng-container *ngIf="redeemRequestList_data.length == 0 && datanotfound == true">
              <app-not-result-found></app-not-result-found>
            </ng-container>
          </div>
        </div>
        
        
      </div>
      
      
      
      <div class="fab-btns" *ngIf="redeemRequestList_data.length >0">
        <button  mat-fab class="excel pulse" (click)="exportAsXLSX(active_tab);">
          <img src="assets/img/excel.svg">
          Download Excel
        </button>
      </div>
      
    </div>
    
    